

.Reservation{
    background-color: #303742;
    padding-bottom: 8.1%;
}

.Reservation-body{
    background-color: #303742;
    color : #EDE3DA; 
    
}

.Table-Header{
    display:flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    margin: 2%;
}

.Arrive{
    background-color: green;
}

.Annule{
    background-color: gray;
}

hr.Arrive{
    height: 5px;
    color: green;
}

hr.Annule{
    height: 5px;
    color: grey;
}

.Date-jour{
    color:#303742;
    font-weight: 900;
    text-decoration: underline;
    
}

h6{
    display: inline;
}

h1{
    display: flex;
    padding: 1%;
    justify-content: center;
}

table{
    
    width: 94%;
    height: 100%;
    margin : 3%;
    background-color: #EDE3DA;
    color: #303742;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    
}

th{
    width: 14%;
    padding: 2%;
    text-align-last: center;
}

td{
    width: 7%;
    padding: 3%;
    text-align: center;
    height: 25%;
   
}


.navbar{
    background-color:#303742 ;
    color:  #EDE3DA;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.nav-link-custom{
     color:  #EDE3DA;
     text-decoration: none;
}

