
.Reservation-body{
    background-color: #303742;
    color : #EDE3DA;
    height: 100%;
}

.Table-Header{
    display:flex;
    justify-content: space-around;
}

h1{
    display: flex;
    padding: 2%;
    justify-content: center;
}

table{
    width: 100%;
    display: flex;
    justify-content: space-around;
}